<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    {{if hasplotly}} {{insert head_plotly.html }}  {{end}}
    {{insert style.html}}
    {{isdef title}} <title>{{fill title}}</title>  {{end}}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0550f3275b4a4db8bfeefed116695300"}'></script>
</head>

<body>
{{insert nav.html}}


<!-- Content appended here -->
